<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-[calc(100vh-200px)] lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                  Forgot your password?
              </h1>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'space-y-4 md:space-y-6' }) do |f| %>
                
                <!-- Error Messages -->
                <%= render "devise/shared/error_messages", resource: resource %>

                <!-- Email Field -->
                <div>
                  <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", placeholder: "name@company.com", required: true %>
                  <% if resource.errors[:email].any? %>
                    <p class="text-red-500 text-xs mt-1">
                      <%= resource.errors.full_messages_for(:email).join(", ") %>
                    </p>
                  <% end %>
                </div>

                <!-- Submit Button -->
                <div>
                  <%= f.submit "Send me reset password instructions", class: "w-full text-white bg-gray-800 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
                </div>

              <% end %>
          </div>
      </div>
  </div>
</section>


<%# <%= render "devise/shared/links" %>
